:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  --body: #F2F2F2;
  --color: #730217;

  background-color: var(--body);
  color: var(--color);
  /* background-color: #730217; */
  /* background-color: #D9C7A7; */
  /* background-color: #593C39; */

}
